<div class="wrapper">
  <div class="search">
    <hr class="line">
    <input type="text" class="searchBar" placeholder="Type name, keyword or hashtag...">
    <hr class="line">
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-image">
        <img src="/imgs/IMG_7744.JPG" alt="profile">
      </div>
      <div class="hashtag">
        <h5 class="hash">@sophie1</h5>
        <div class="profile">
          <span>Name: Alex</span>
          <span>Career: WebDev</span>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-telegram fa-2x"></i></a>
        <a href=""><i class="fas fa-envelope-open-text fa-2x"></i></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="/imgs/IMG_7744.JPG" alt="profile">
      </div>
      <div class="hashtag">
        <h5 class="hash">@sophie1</h5>
        <div class="profile">
          <span>Name: Alex</span>
          <span>Career: WebDev</span>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-telegram fa-2x"></i></a>
        <a href=""><i class="fas fa-envelope-open-text fa-2x"></i></a>
      </div>
    </div>
    <div class="card">
      <div class="card-image">
        <img src="/imgs/IMG_7744.JPG" alt="profile">
      </div>
      <div class="hashtag">
        <h5 class="hash">@sophie1</h5>
        <div class="profile">
          <span>Name: Alex</span>
          <span>Career: WebDev</span>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-telegram fa-2x"></i></a>
        <a href=""><i class="fas fa-envelope-open-text fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>

